@model IEnumerable<CartList>

<button type="button" class="btn p-0 position-relative header-wishlist">
    <i data-feather="shopping-cart"></i>
    @if ((Model!=null)&& (Model.Count() > 0))
    {
        <span class='position-absolute top-0 start-100 translate-middle badge'>
            @Model.Count()
            <span class='visually-hidden'>Cart</span>
        </span>
    }
</button>

@if ((Model!=null)&& (Model.Count() > 0))
{
    float totalPrice = 0;
    <div class='onhover-div'>
        <ul class='cart-list'>
            @foreach (var cart in Model)
            {
                <li class='product-box-contain'>
                    <div class='drop-cart'>
                        <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@cart.FoodId" class="drop-image">
                            <img src='@Url.Content($"~/FoodImage/{cart.FoodId}.jpg")' class='blur-up lazyload' alt=''>
                        </a>
                        <div class='drop-contain'>
                            <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@cart.FoodId">
                                <h5>@cart.FoodName</h5>
                            </a>
                            <h6><span>@cart.Quantity x</span> &pound;@cart.Price</h6>
                        </div>
                    </div>
                </li>
                totalPrice += cart.Quantity * cart.Price;
            }

        </ul>

        <div class='price-box'>
            <h5>Total: </h5>
            <h4 class='theme-color fw-bold'>&pound;@totalPrice</h4>
        </div>
        <div class='button-group'>
            <a asp-controller="Customer" asp-action="ViewCart" class='btn btn-sm cart-button'>View Cart</a>
            <a asp-controller="Customer" asp-action="CheckOut" class='btn btn-sm cart-button theme-bg-color text-white'>Checkout</a>
        </div>
    </div>
}