@{
    ViewData["Title"] = "CheckOut";
}
@model CustomerCart
<partial name="_BreadcrumbPartial" model='@new Breadcrumb("CheckOut", "fa-shopping-cart")' />
<partial name="_Notification" />

@if (Model != null)
{  
    
    double totalPrice = 0;
    <section class="checkout-section-2 section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-4 g-3">
                <div class="col-lg-8">
                    <div class="left-sidebar-checkout">
                        <div class="checkout-detail-box">
                            <ul>
                                <li>
                                    <div class="checkout-icon">
                                        <i class="fa fa-2x fa-home-user"></i>
                                    </div>
                                    <div class="checkout-box">
                                        <div class="checkout-title">
                                            <h4>Delivery Address</h4>
                                        </div>

                                        <div class="checkout-detail">
                                            <div class="row g-4">
                                                <div class="col-xxl-6 col-lg-12 col-md-6">
                                                    <div class="delivery-address-box">
                                                        <div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="radio1" checked
                                                                       id="flexRadioDefault1">
                                                            </div>

                                                            <div class="label">
                                                                <label>Home</label>
                                                            </div>

                                                            <ul class="delivery-address-detail">
                                                                <li>
                                                                    <h4 class="fw-500">@Model.CustName?.CapitalizeEachWord()</h4>
                                                                </li>

                                                                <li>
                                                                    <p class="text-content">
                                                                        <span class="text-title">
                                                                            Address:
                                                                        </span>
                                                                        <strong>@Model.CustAddress</strong>
                                                                    </p>
                                                                </li>

                                                                <li>
                                                                    <h6 class="text-content mb-0">
                                                                        <span class="text-title">
                                                                            Phone:
                                                                        </span>
                                                                        <strong>@Model.CustPhone</strong>
                                                                    </h6>
                                                                </li>
                                                                <li>
                                                                    <h6 class="text-content mb-0">
                                                                        <span class="text-title">
                                                                            Email:
                                                                        </span>
                                                                        <strong>@Model.CustEmail</strong>
                                                                    </h6>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>



                                <li>
                                    <div class="checkout-icon">
                                        <i class="fa fa-2x fa-pound-sign"></i>
                                    </div>
                                    <div class="checkout-box">
                                        <div class="checkout-title">
                                            <h4>Payment Option</h4>
                                        </div>

                                        <div class="checkout-detail">
                                            <div class="accordion accordion-flush custom-accordion"
                                                 id="accordionFlushExample">

                                                <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingThree">
                                                        <div class="accordion-button collapsed"
                                                             data-bs-toggle="collapse"
                                                             data-bs-target="#flush-collapseThree">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="wallet">
                                                                    <input class="form-check-input mt-0" type="radio" checked
                                                                           name="flexRadioDefault" id="wallet">My
                                                                    Wallet
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                                                         data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <h5 class="text-uppercase mb-4">
                                                                Wallet Balance:  &pound;<strong>@Model.Ewallet</strong>
                                                            </h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="right-side-summery-box">
                        <div class="summery-box-2">
                            <div class="summery-header">
                                <h3>Order Summary</h3>
                            </div>
                            @if (Model.CustCart != null)
                            {
                                <ul class="summery-contain">
                                    @foreach(CCart cart in Model.CustCart)
                                    {
                                        totalPrice += (cart.FoodPrice * cart.Quantity);
                                        <li>
                                            <img src='@Url.Content($"~/FoodImage/{cart.FoodID}.jpg")'
                                                 class="img-fluid blur-up lazyloaded checkout-image" alt="">
                                            <h4>@cart.FoodName <span>x</span> @cart.Quantity</h4>
                                            <h4 class='price'>&pound;@cart.FoodPrice</h4>
                                        </li>
                                    }
                                </ul>
                            }
                            <ul class="summery-total">

                                <li class="list-total">
                                    <h4>Total</h4>
                                    <h4 class="price">&pound;<strong>@totalPrice</strong></h4>
                                </li>
                            </ul>
                        </div>
                        <form asp-action="PlaceOrder" method="post">
                            
                        <button type="submit" class="btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold">Place Order</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

}