@{
    ViewData["Title"] = "My Account";
}

@model CustomerDTO 

<partial name="_Notification" />
<partial name="_BreadcrumbPartial" model='@new Breadcrumb("My Account", "fa-user")' />
<partial name="_ValidationScriptsPartial"></partial>



@if (Model != null)
{  
    @section Scripts {
    <partial name="_FileInput" />
    <partial name="_UpdateCustomerImage" />
    <partial name="_DataTable"></partial>
    }
    <section class="user-dashboard-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-3 col-lg-4">
                    <div class="dashboard-left-sidebar">
                        <div class="close-button d-flex d-lg-none">
                            <button class="close-sidebar">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="profile-box">
                            <div class="cover-image">
                                <img src="~/assets/images/cover-img.jpg" class="img-fluid blur-up lazyload"
                                alt="">
                            </div>

                            <div class="profile-contain">
                                <div class="profile-image">
                                    <div class="position-relative">

                                        <img src='@Url.Content($"~/CustomerImage/{Model.CustId}.jpg")?refreshTime=@DateTime.Now.Ticks'
                                        class="blur-up lazyload update_img" alt="">
                                        <div class="cover-icon">
                                            <a href="javascript:void" data-bs-toggle="modal" data-bs-target="#pictureModal">
                                            <i class="fa-solid fa-pen"> </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="profile-name">
                                    <h3>@Model.CustName?.CapitalizeEachWord()</h3>
                                    <h6 class="text-content">@Model.CustEmail?.ToLower()</h6>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-dashboard-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-dashboard" type="button" role="tab"
                                aria-controls="pills-dashboard" aria-selected="true">
                                    <i data-feather="home"></i>
                                    DashBoard
                                </button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a asp-controller="Account" asp-action="Logout" style="color:red;" class="nav-link" type="button">
                                    <i class="fa fa-lock"> </i>&nbsp;
                                    <span>Log Out</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-xxl-9 col-lg-8">

                    <div class="dashboard-right-sidebar">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel"
                            aria-labelledby="pills-dashboard-tab">
                                <div class="dashboard-home">
                                    <div class="title">
                                        <h2>My Dashboard</h2>
                                        <span class="title-leaf">
                                            <svg class="icon-width bg-gray">
                                                <use xlink:href="~/assets/svg/leaf.svg#leaf"></use>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="dashboard-user-name">
                                        <h6 class="text-content">Hello, <b>@Model.CustName?.CapitalizeEachWord()</b></h6>
                                        <p class="text-content">
                                            From My Account Dashboard you have the ability to
                                            view a snapshot of your recent account activity and as well update your account
                                            information.
                                        </p>
                                    </div>

                                    <div class="total-box">
                                        <div class="row g-sm-4 g-3">


                                            <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                                                <div class="totle-contain">
                                                    <img src="~/assets/svg/wishlist.svg"
                                                    class="img-1 blur-up lazyload" alt="">
                                                    <img src="~/assets/svg/wishlist.svg" class="blur-up lazyload"
                                                    alt="">
                                                    <div class="totle-detail">
                                                        <h5>Ewallet</h5>
                                                        <h3>@Model.Ewallet</h3>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                                                <div class="totle-contain">
                                                    <img src="~/assets/svg/order.svg"
                                                    class="img-1 blur-up lazyload" alt="">
                                                    <img src="~/assets/svg/order.svg" class="blur-up lazyload"
                                                    alt="">
                                                    <div class="totle-detail">
                                                        <h5>Total Order</h5>
                                                        <h3>
                                                            @if (Model.CustOrder != null)
                                                            {
                                                                <span>@Model.CustOrder.Count().ToString()</span>
                                                            }
                                                            else
                                                            {
                                                                <span>0</span>
                                                            }
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row g-4">
                                        <div class="col-xxl-6">

                                            <div class="dashboard-contant-title">
                                                <h4>
                                                    Contact Information <a asp-action="UpdateProfile">
                                                        <span style="background-color:#c4cebd; border-radius:30%; padding:2px 2px 2px 2px;">
                                                            Update Profile
                                                        </span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div class="dashboard-detail">
                                                <strong>FullName:</strong> <h6 class="text-content">@Model.CustName?.CapitalizeEachWord()</h6>
                                                <strong>Phone Number:</strong> <h6 class="text-content">@Model.CustPhone</h6>
                                                <strong>Email:</strong> <h6 class="text-content">@Model.CustEmail</h6>
                                                <strong>Address:</strong> <h6 class="text-content">@Model.CustAddress</h6>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="row g-4 ">
                                        <div class="col-xxl-12">
                                            <br /><br />
                                            <div class="dashboard-contant-title">
                                                <h4>
                                                    Order Information
                                                </h4>
                                            </div>
                                            <div class="dashboard-detail">
                                                @if ((Model.CustOrder != null) && (Model.CustOrder.Count() > 0))
                                                {
                                                    int index = 0;
                                                    <div style="margin: 0 auto; overflow: scroll;">
                                                        <table class="dynamic-table table table-striped table-bordered table-hover w-100">
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th scope="col" class="text-center">SN</th>
                                                                    <th scope="col" class="text-center">Date</th>
                                                                    <th scope="col" class="text-center">Item</th>
                                                                    <th scope="col" class="text-left">Item Name</th>
                                                                    <th scope="col" class="text-center">Price £</th>
                                                                    <th scope="col" class="text-center">Quantity</th>
                                                                    <th scope="col" class="text-center">Total Price £</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                @foreach (CustOrder ord in Model.CustOrder)
                                                                {
                                                                    index += 1;
                                                                    <tr>
                                                                        <td class="text-center">@index</td>
                                                                        <td class="text-center">@ord.OrderDate</td>
                                                                        <td class="text-center">
                                                                            <div class="table-image">
                                                                                <img src='@Url.Content($"~/FoodImage/{ord.FoodID}.jpg")' width="50" height="50" class="img-fluid" alt="">
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-left">@ord.FoodName</td>
                                                                        <td class="text-center">@ord.FoodPrice</td>
                                                                        <td class="text-center">@ord.Quantity</td>
                                                                        <td class="text-center">@((ord.FoodPrice * ord.Quantity).ToString("C"))</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                }
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


   
    

}